.container {
    border-style: solid;
    border-color: unset;
    border-width: 6px;
    border-radius: 10px;
    width: 550px;
    height: 550px;
    margin: auto;
    padding: 0px;
}

.pixel {
	display: inline-block;
	float: right;
	opacity: 0;
}

button {
	width : 300px;
	height: 100px;
	margin: auto;
	display: block;
	font-size: 30px;
	font-family: Georgia;
}

.output {
	display: block;
	font-size: 30px;
	font-family: Georgia;
	text-align: center;
	margin-top: 5px;
}